<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	这里namespace必须是UserMapper接口的全类名路径，
	不然运行的时候要报错 "is not known to the MapperRegistry" 
-->

<mapper namespace="com.bbcall.mybatis.dao.AdvertisementMapper">

	<resultMap id="AdvertisementResultMap" type="com.bbcall.mybatis.table.Advertisement" >
    	<id column="advertisement_id" property="advertisement_id" jdbcType="INTEGER" />
    	<result column="advertisement_title" property="advertisement_title" jdbcType="VARCHAR" />
    	<result column="advertisement_type" property="advertisement_type" jdbcType="INTEGER" />
    	<result column="advertisement_type_name" property="advertisement_type_name" jdbcType="VARCHAR" />
    	<result column="advertisement_bigphoto_url" property="advertisement_bigphoto_url" jdbcType="VARCHAR" />
    	<result column="advertisement_smallphoto_url" property="advertisement_smallphoto_url" jdbcType="VARCHAR" />
    	<result column="advertisement_summary" property="advertisement_summary" jdbcType="VARCHAR" />
    	<result column="advertisement_content" property="advertisement_content" jdbcType="LONGVARCHAR" />
    	<result column="advertisement_istop" property="advertisement_istop" jdbcType="INTEGER" />
    	<result column="advertisement_status" property="advertisement_status" jdbcType="INTEGER" />
    	<result column="advertisement_create_time" property="advertisement_create_time" jdbcType="TIMESTAMP" />
	</resultMap>

	<insert id="addAdvert" parameterType="Advertisement"
		useGeneratedKeys="true" keyProperty="advertisement_id">
		insert into
		ADVERTISEMENT(advertisement_title,
		advertisement_type, 
		advertisement_bigphoto_url,
		advertisement_smallphoto_url, 
		advertisement_summary,
		advertisement_content)
		values(#{advertisement_title},
		#{advertisement_type},
		#{advertisement_bigphoto_url},
		#{advertisement_smallphoto_url},
		#{advertisement_summary},
		#{advertisement_content})
	</insert>

	<delete id="deleteAdvertById" parameterType="int">
		delete from
		ADVERTISEMENT where advertisement_id=#{advertisement_id}
	</delete>

	<select id="getAllAdvert" resultMap="AdvertisementResultMap">
		select advertisement_id,
		advertisement_title,
		advertisement_type, 
		RD.referdoc_type AS advertisement_type_name, 
		advertisement_bigphoto_url,
		advertisement_smallphoto_url, 
		advertisement_summary,
		advertisement_content,
		advertisement_istop,
		advertisement_status,
		advertisement_create_time
		from ADVERTISEMENT AM LEFT JOIN REFERDOC RD ON RD.referdoc_id = AM.advertisement_type
		ORDER BY
		<choose>
			<when test="order_col!=null and order_col!=''">
				${order_col}
				<trim prefix=" ">
					<if test="order_value!=null and order_value!=''">
						${order_value}
					</if>
				</trim>
			</when>
			<otherwise>
				IF (advertisement_status = 1, 0, 1), IF (advertisement_istop = 1, 0, 1), advertisement_create_time DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="getAllAdvertSummary" resultMap="AdvertisementResultMap">
		select advertisement_id,
		advertisement_title,
		advertisement_type, 
		RD.referdoc_type AS advertisement_type_name, 
		advertisement_bigphoto_url,
		advertisement_smallphoto_url, 
		advertisement_summary,
		advertisement_istop,
		advertisement_status,
		advertisement_create_time
		from ADVERTISEMENT AM LEFT JOIN REFERDOC RD ON RD.referdoc_id = AM.advertisement_type
		ORDER BY 
		<choose>
			<when test="order_col!=null and order_col!=''">
				${order_col}
				<trim prefix=" ">
					<if test="order_value!=null and order_value!=''">
						${order_value}
					</if>
				</trim>
			</when>
			<otherwise>
				IF (advertisement_status = 1, 0, 1), IF (advertisement_istop = 1, 0, 1), advertisement_create_time DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="getActiveAdvert" resultMap="AdvertisementResultMap">
		select advertisement_id,
		advertisement_title,
		advertisement_type, 
		RD.referdoc_type AS advertisement_type_name, 
		advertisement_bigphoto_url,
		advertisement_smallphoto_url, 
		advertisement_summary,
		advertisement_content,
		advertisement_istop,
		advertisement_status,
		advertisement_create_time
		from ADVERTISEMENT AM LEFT JOIN REFERDOC RD ON RD.referdoc_id = AM.advertisement_type
		where advertisement_status = 1
		ORDER BY
		IF (advertisement_istop = 1, 0, 1), advertisement_create_time DESC
	</select>
	
	<select id="getActiveAdvertSummary" resultMap="AdvertisementResultMap">
		select advertisement_id,
		advertisement_title,
		advertisement_type, 
		RD.referdoc_type AS advertisement_type_name, 
		advertisement_bigphoto_url,
		advertisement_smallphoto_url, 
		advertisement_summary,
		advertisement_istop,
		advertisement_status,
		advertisement_create_time
		from ADVERTISEMENT AM LEFT JOIN REFERDOC RD ON RD.referdoc_id = AM.advertisement_type
		where advertisement_status = 1
		ORDER BY
		IF (advertisement_istop = 1, 0, 1), advertisement_create_time DESC
	</select>

	<select id="getAdvertById" parameterType="int"
		resultMap="AdvertisementResultMap">
		select advertisement_id,
		advertisement_title,
		advertisement_type, 
		RD.referdoc_type AS advertisement_type_name, 
		advertisement_bigphoto_url,
		advertisement_smallphoto_url, 
		advertisement_summary,
		advertisement_content,
		advertisement_istop,
		advertisement_status,
		advertisement_create_time
		from ADVERTISEMENT AM LEFT JOIN REFERDOC RD ON RD.referdoc_id = AM.advertisement_type
		where
		advertisement_id=#{advertisement_id}
	</select>
	
	<update id="updateAdvertIsTop">
		update ADVERTISEMENT set
		advertisement_istop=#{advertisement_istop}
		where advertisement_id=#{advertisement_id}
	</update>
	
	<update id="updateAdvertStatus">
		update ADVERTISEMENT set
		advertisement_status=#{advertisement_status}
		where advertisement_id=#{advertisement_id}
	</update>
	
	<update id="updateAdvertById" parameterType="Advertisement">
		update ADVERTISEMENT set
		advertisement_title=#{advertisement_title},
		advertisement_type=#{advertisement_type},
		advertisement_bigphoto_url=#{advertisement_bigphoto_url},
		advertisement_smallphoto_url=#{advertisement_smallphoto_url},
		advertisement_summary=#{advertisement_summary},
		advertisement_content=#{advertisement_content},
		advertisement_istop=#{advertisement_istop},
		advertisement_status=#{advertisement_status}
		where advertisement_id=#{advertisement_id}
	</update>
</mapper>