<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbcall.mybatis.dao.BlacklistMapper">
	<resultMap type="com.bbcall.mybatis.table.Blacklist" id="BlacklistResultMap">
		<id column="blacklist_id" property="blacklist_id" jdbcType="INTEGER" />
		<result column="blacklist_user_id" property="blacklist_user_id"
			jdbcType="INTEGER" />
		<result column="blacklist_master_id" property="blacklist_master_id"
			jdbcType="INTEGER" />
		<result column="blacklist_order_id" property="blacklist_order_id"
			jdbcType="INTEGER" />
	</resultMap>
	<select id="getBlacklistByUser" parameterType="String"
		resultMap="BlacklistResultMap">
		select *
		from BLACKLIST where
		blacklist_user_id=#{blacklist_user_id} order by blacklist_id desc
	</select>
	<select id="getBlacklistById" parameterType="int"
		resultMap="BlacklistResultMap">
		select *
		from BLACKLIST where
		blacklist_id=#{blacklist_id}
	</select>
	<select id="getBlacklistByMaster" parameterType="int"
		resultMap="BlacklistResultMap">
		select *
		from BLACKLIST where
		blacklist_master_id=#{blacklist_master_id}  order by blacklist_id desc
	</select>
	<select id="getBlacklist" resultMap="BlacklistResultMap">
		select *
		from BLACKLIST order by blacklist_id desc
	</select>
	<insert id="addBlacklist" parameterType="com.bbcall.mybatis.table.Blacklist"
		useGeneratedKeys="true" keyProperty="blacklist_id">
		insert into BLACKLIST 
		(blacklist_user_id,
		blacklist_master_id,
		blacklist_order_id)
		values
		(#{blacklist_user_id},
		#{blacklist_master_id},
		#{blacklist_order_id})
	</insert>
	<delete id="deleteBlacklistById" parameterType="int">
		delete from
		BLACKLIST where
		blacklist_id=#{blacklist_id}
	</delete>
</mapper>  