<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbcall.mybatis.dao.OrderlistMapper">

	<resultMap id="OrderResultMap" type="com.bbcall.mybatis.table.Orderlist">
		<id column="order_id" property="order_id" jdbcType="INTEGER" />
		<result column="order_create_time" property="order_create_time"
			jdbcType="TIMESTAMP" />
		<result column="order_end_time" property="order_end_time"
			jdbcType="TIMESTAMP" />
		<result column="order_book_time" property="order_book_time"
			jdbcType="TIMESTAMP" />
		<result column="order_book_location" property="order_book_location"
			jdbcType="VARCHAR" />
		<result column="order_book_location_code" property="order_book_location_code"
			jdbcType="INTEGER" />	
		<result column="order_contact_mobile" property="order_contact_mobile"
			jdbcType="INTEGER" />
		<result column="order_contact_name" property="order_contact_name"
			jdbcType="VARCHAR" />
		<result column="order_photo" property="order_photo" jdbcType="VARCHAR" />
		<result column="order_description" property="order_description"
			jdbcType="VARCHAR" />
		<result column="order_price" property="order_price" jdbcType="INTEGER" />
		<result column="order_urgent" property="order_urgent" jdbcType="BIT" />
		<result column="order_urgent_bonus" property="order_urgent_bonus"
			jdbcType="INTEGER" />
		<result column="order_user_account" property="order_user_account"
			jdbcType="INTEGER" />
		<result column="order_master_account" property="order_master_account"
			jdbcType="INTEGER" />
		<result column="order_type" property="order_type" jdbcType="VARCHAR" />
		<result column="order_status" property="order_status" jdbcType="VARCHAR" />
		<result column="order_score" property="order_score" jdbcType="INTEGER" />
		<result column="order_evaluation" property="order_evaluation"
			jdbcType="VARCHAR" />
	</resultMap>

	<insert id="addOrder" parameterType="com.bbcall.mybatis.table.Orderlist"
		useGeneratedKeys="true" keyProperty="order_id">
		insert into orderlist
		(order_create_time,
		order_end_time,
		order_book_time,
		order_book_location,
		order_book_location_code,
		order_contact_mobile,
		order_contact_name,
		order_pic_url,
		order_description,
		order_price,
		order_urgent,
		order_urgent_bonus,
		order_user_account,
		order_type,
		order_status) values
		(#{order_create_time},
		#{order_end_time},
		#{order_book_time},
		#{order_book_location},
		#{order_book_location_code},
		#{order_contact_mobile},
		#{order_contact_name},
		#{order_pic_url},
		#{order_description},
		#{order_price},
		#{order_urgent},
		#{order_urgent_bonus},
		#{order_user_account},
		#{order_type},
		#{order_status})
	</insert>

	<select id="getUnOrdersByUserAccount" parameterType="String"
		resultMap="OrderResultMap">
		select * from orderlist
		where order_status=1 and
		order_user_account=#{order_user_account} order by order_create_time
	</select>
		
	<select id="getProOrdersByUserAccount" parameterType="String"
		resultMap="OrderResultMap">
		select * from orderlist
		where order_status=2 and
		order_user_account=#{order_user_account} order by order_create_time
	</select>
	<select id="getComOrdersByUserAccount" parameterType="String"
		resultMap="OrderResultMap">
		select * from orderlist
		where order_status=3 and
		order_user_account=#{order_user_account} order by order_create_time
	</select>
	
	<select id="getUnOrdersByMasterSkill"
		resultMap="OrderResultMap">
		select * from orderlist where order_status=1 and order_type=#{order_type,jdbcType=VARCHAR} and 
		order_user_account not in (select blacklist_user_account from
		blacklist where
		blacklist_master_account=#{order_master_account,jdbcType=VARCHAR}) order by order_book_location_code, order_create_time
	</select>
	
	<select id="getUnOrdersByMasterLocation"
		resultMap="OrderResultMap">
		select * from orderlist where order_status=1 and order_type=#{order_type,jdbcType=VARCHAR} and 
		order_book_location like #{order_book_location,jdbcType=VARCHAR} and
		order_user_account not in (select blacklist_user_account from
		blacklist where
		blacklist_master_account=#{order_master_account,jdbcType=VARCHAR}) order by order_create_time
	</select>
	<select id="getUnOrdersByBookTime"
		resultMap="OrderResultMap">
		select * from orderlist where order_status=1 and order_type=#{order_type,jdbcType=VARCHAR} and 
		order_book_location like #{order_book_location,jdbcType=VARCHAR} and
		order_user_account not in (select blacklist_user_account from
		blacklist where
		blacklist_master_account=#{order_master_account,jdbcType=VARCHAR}) order by order_book_time
	</select>
	<select id="getComOrdersByMasterAccount" parameterType="String"
		resultMap="OrderResultMap">
		select * from orderlist where order_status=3 and
		order_master_account=#{order_master_account} order by order_end_time
	</select>
	<select id="getProOrdersByMasterAccount" parameterType="String"
		resultMap="OrderResultMap">
		select * from orderlist where order_status=2 and
		order_master_account=#{order_master_account}
	</select>
	<select id="getUnOrders" resultMap="OrderResultMap">
		select * from orderlist
		where
		order_status=1
	</select>
	<select id="getProOrders" resultMap="OrderResultMap">
		select * from orderlist
		where
		order_status=2
	</select>
	
	<select id="getComOrders" resultMap="OrderResultMap">
		select * from orderlist
		where
		order_status=3
	</select>
	
	<select id="getOrder" parameterType="int" resultMap="OrderResultMap">
		select * from orderlist
		where
		order_id=#{order_id}
	</select>
	
	<update id="updateOrder" parameterType="com.bbcall.mybatis.table.Orderlist">
		update orderlist set
		order_book_time=#{order_book_time},
		order_book_location=#{order_book_location},
		order_book_location_code=#{order_book_location_code},
		order_contact_mobile=#{order_contact_mobile},
		order_contact_name=#{order_contact_name},
		order_pic_url=#{order_pic_url},
		order_description=#{order_description},
		order_urgent=#{order_urgent},
		order_urgent_bonus=#{order_urgent_bonus},
		order_user_account=#{order_user_account},
		order_type=#{order_type},
		order_status=#{order_status}
		where
		order_id=#{order_id}
	</update>
	<update id="updateOrderAsMasterAccount">
		update orderlist set
		order_master_account=#{order_master_account,jdbcType=VARCHAR},
		order_status=2
		where
		order_id=#{order_id,jdbcType=INTEGER}
	</update>
	
	<delete id="deleteOrder" parameterType="int">
		delete from orderlist where
		order_id=#{order_id}
	</delete>
	
</mapper>  