<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbcall.mybatis.dao.OrderlistMapper">

	<resultMap id="OrderResultMap" type="com.bbcall.mybatis.table.Orderlist">
		<id column="order_id" property="order_id" jdbcType="INTEGER" />
		<result column="order_create_time" property="order_create_time"
			jdbcType="TIMESTAMP" />
		<result column="order_end_time" property="order_end_time"
			jdbcType="TIMESTAMP" />
		<result column="order_book_time" property="order_book_time"
			jdbcType="TIMESTAMP" />
		<result column="order_book_location" property="order_book_location"
			jdbcType="VARCHAR" />
		<result column="order_book_location_code" property="order_book_location_code"
			jdbcType="INTEGER" />
		<result column="order_contact_mobile" property="order_contact_mobile"
			jdbcType="INTEGER" />
		<result column="order_contact_name" property="order_contact_name"
			jdbcType="VARCHAR" />
		<result column="order_pic_url" property="order_pic_url"
			jdbcType="LONGVARCHAR" />
		<result column="order_description" property="order_description"
			jdbcType="LONGVARCHAR" />
		<result column="order_price" property="order_price" jdbcType="DECIMAL" />
		<result column="order_urgent" property="order_urgent" jdbcType="BIT" />
		<result column="order_urgent_bonus" property="order_urgent_bonus"
			jdbcType="DECIMAL" />
		<result column="order_user_id" property="order_user_id"
			jdbcType="INTEGER" />
		<result column="order_master_id" property="order_master_id"
			jdbcType="INTEGER" />
		<result column="order_type_code" property="order_type_code"
			jdbcType="INTEGER" />
		<result column="order_type" property="order_type" jdbcType="VARCHAR" />
		<result column="order_refer_price" property="order_refer_price"
			jdbcType="DECIMAL" />
		<result column="order_status" property="order_status" jdbcType="VARCHAR" />
		<result column="order_score" property="order_score" jdbcType="DECIMAL" />
		<result column="order_evaluation" property="order_evaluation"
			jdbcType="LONGVARCHAR" />
		<result column="order_remark" property="order_remark" jdbcType="LONGVARCHAR" />
		<result column="order_section" property="order_section"
			jdbcType="INTEGER" />
		<result column="order_master_name" property="order_master_name"
			jdbcType="VARCHAR" />
	</resultMap>

	<insert id="addOrder" parameterType="com.bbcall.mybatis.table.Orderlist"
		useGeneratedKeys="true" keyProperty="order_id">
		insert into ORDERLIST
		(order_create_time,
		order_end_time,
		order_book_time,
		order_book_location,
		order_book_location_code,
		order_contact_mobile,
		order_contact_name,
		order_pic_url,
		order_description,
		order_price,
		order_urgent,
		order_urgent_bonus,
		order_user_id,
		order_type_code,
		order_status,
		order_section,
		order_type,
		order_refer_price,
		order_master_name) values
		(#{order_create_time},
		#{order_end_time},
		#{order_book_time},
		#{order_book_location},
		#{order_book_location_code},
		#{order_contact_mobile},
		#{order_contact_name},
		#{order_pic_url},
		#{order_description},
		#{order_price},
		#{order_urgent},
		#{order_urgent_bonus},
		#{order_user_id},
		#{order_type_code},
		#{order_status},
		#{order_section},
		#{order_type},
		#{order_refer_price},
		#{order_master_name})
	</insert>

	<select id="getUnOrdersByUserAccount" parameterType="int"
		resultMap="OrderResultMap">
		select * from ORDERLIST 
		where (order_status=1 or 
		 order_status=7) and 
		order_user_id=#{order_user_id} order by 
		order_create_time asc 
	</select>

	<select id="getProOrdersByUserAccount" parameterType="int"
		resultMap="OrderResultMap">
		select * from ORDERLIST 
		where order_status="2" and 
		order_user_id=#{order_user_id} order by order_book_time asc 
	</select>
	<select id="getComOrdersByUserAccount" parameterType="int"
		resultMap="OrderResultMap">
		select * from ORDERLIST 
		where order_status="3" and 
		order_user_id=#{order_user_id} order by order_end_time desc 
	</select>

	<select id="getOrdersByMasterSkill" resultMap="OrderResultMap">
		select * from 
		ORDERLIST where order_status=#{order_status,jdbcType=INTEGER} and 
		order_type_code=#{order_type_code,jdbcType=INTEGER} and 
		order_user_id 
		not in (select blacklist_user_id from  
		BLACKLIST where 
		blacklist_master_id=#{order_master_id,jdbcType=INTEGER}) 
		order by 
		order_create_time 
	</select>

	<select id="getUnOrdersBySkill" resultMap="OrderResultMap">
		select * from 
		ORDERLIST where (order_status=1 or order_status=7) 
		<if test="ordertypelist!=null and ordertypelist.length!=0">
			and order_type_code in 
			<foreach collection="ordertypelist" item="order_type_code"
				index="index" open="(" close=")" separator=",">
				#{order_type_code}
			</foreach>
		</if>
		 and order_user_id not in (select blacklist_user_id from 
		BLACKLIST where 
		blacklist_master_id=#{order_master_id,jdbcType=INTEGER}) 
		order by 
		order_book_time 
	</select>

	<select id="getOrdersByMasterSkill2" resultMap="OrderResultMap">
		select * from 
		ORDERLIST where order_status=#{order_status,jdbcType=INTEGER} and 
		order_type_code=#{order_type_code,jdbcType=INTEGER} and 
		order_user_id 
		not in (select blacklist_user_id from 
		BLACKLIST where 
		blacklist_master_id=#{order_master_id,jdbcType=INTEGER}) 
		order by 
		order_book_time 
	</select>

	<select id="getOrdersByMasterLocation" resultMap="OrderResultMap">
		select * from 
		ORDERLIST where order_status=#{order_status,jdbcType=INTEGER} and 
		order_book_location_code=#{order_book_location_code,jdbcType=INTEGER} 
		and 
		order_user_id not in (select blacklist_user_id from 
		BLACKLIST where 
		blacklist_master_id=#{order_master_id,jdbcType=INTEGER}) 
		order by 
		order_create_time 
	</select>

	<select id="getOrdersByMasterLocation2" resultMap="OrderResultMap">
		select * from 
		ORDERLIST where order_status=#{order_status,jdbcType=INTEGER} and 
		order_book_location_code=#{order_book_location_code,jdbcType=INTEGER} 
		and 
		order_user_id not in (select blacklist_user_id from 
		BLACKLIST where 
		blacklist_master_id=#{order_master_id,jdbcType=INTEGER}) 
		order by 
		order_book_time 
	</select> 

	<select id="getUnOrdersByMasterLocation" resultMap="OrderResultMap">
		select * from  
		ORDERLIST where (order_status=1 or order_status=7)  
		and order_type_code in 
		<foreach collection="ordertypelist" item="order_type_code"
			index="index" open="(" close=")" separator=",">
			#{order_type_code}
		</foreach>
		<if	test="order_book_location_code != null and order_book_location_code != ''">

		 and order_book_location_code=#{order_book_location_code} 
		</if>
		and order_user_id 
		not in (select blacklist_user_id from 
		BLACKLIST where 
		blacklist_master_id=#{order_master_id,jdbcType=INTEGER}) 
		order by ${sortparm} asc
	</select>
	<select id="getUnOrdersByBookTime" resultMap="OrderResultMap">
		select * from 
		ORDERLIST where (order_status=1 or order_status=7) and 
		order_type_code=#{order_type_code,jdbcType=INTEGER} and 
		order_book_location_code=#{order_book_location_code,jdbcType=INTEGER} 
		and 
		order_user_id 
		not in (select blacklist_user_id from 
		BLACKLIST where 
		blacklist_master_id=#{order_master_id,jdbcType=INTEGER}) 
		order by 
		order_book_time asc 
	</select>
	<select id="getComOrdersByMasterAccount" parameterType="String"
		resultMap="OrderResultMap">
		select * from ORDERLIST where order_status="3" and 
		order_master_id=#{order_master_id} order by order_end_time desc
	</select>
	<select id="getProOrdersByMasterAccount" parameterType="String"
		resultMap="OrderResultMap"> 
		select * from ORDERLIST where order_status="2" and 
		order_master_id=#{order_master_id} order by order_book_time
	</select>
	<select id="getUnOrders" resultMap="OrderResultMap">
		select * from ORDERLIST 
		where 
		(order_status=1 or order_status=7) order by order_book_time 
	</select>
	<select id="getUnOrders2" resultMap="OrderResultMap">
		select * from ORDERLIST 
		where 
		order_status=1 order by order_book_time 
	</select>
	<select id="getAucOrders" resultMap="OrderResultMap">
		select * from ORDERLIST 
		where 
		order_status=7 order by order_book_time 
	</select>
	<select id="getProOrders" resultMap="OrderResultMap">
		select * from ORDERLIST 
		where 
		order_status="2" order by order_book_time 
	</select>

	<select id="getComOrders" resultMap="OrderResultMap">
		select * from ORDERLIST 
		where 
		order_status="3" order by order_end_time desc 
	</select> 

	<select id="getRecOrders" resultMap="OrderResultMap">
		select * from ORDERLIST 
		where 
		order_status="4" 
	</select>

	<select id="getWasOrders" resultMap="OrderResultMap">
		select * from ORDERLIST 
		where 
		order_status="5" 
	</select> 

	<select id="getDelOrders" resultMap="OrderResultMap">
		select * from ORDERLIST 
		where 
		order_status="6" 
	</select> 

	<select id="getWashOrderlist" resultMap="OrderResultMap">
		select * from ORDERLIST 
		where 
		order_type_code in (15000,15001,15002) order by order_book_time 
		asc 
	</select>

	<select id="getWashOrderlistByParm" resultMap="OrderResultMap">
		select * from 
		ORDERLIST 
		where 
		order_type_code in (15000,15001,15002) 
		<if test="order_status != null and order_status != ''">

			and order_status = #{order_status}
		</if>
		<if test="order_section != null and order_section != ''">

			and order_section = #{order_section}
		</if>
		<if test="order_master_name != null and order_master_name != ''">

			and order_master_name = #{order_master_name}
		</if>
		 order by order_book_time asc, order_create_time asc
	</select>

	<select id="getWashOrders" resultMap="OrderResultMap">
		select * from ORDERLIST 
		where 
		order_type_code in (15000,15001,15002) and 
		order_master_id=#{order_master_id,jdbcType=INTEGER} and 
		order_status=#{order_status,jdbcType=INTEGER} order by order_book_time
		asc
	</select>

	<select id="getWashOrderByStatus" parameterType="int" resultMap="OrderResultMap">
		select * from ORDERLIST 
		where 
		order_type_code in (15000,15001,15002) and 
		order_status=#{order_status} order by order_book_time asc 
	</select>

	<select id="getWashOrderByMaster" parameterType="String"
		resultMap="OrderResultMap"> 
		select * from ORDERLIST 
		where 
		order_type_code in 
		(15000,15001,15002) and 
		order_master_id=#{order_master_id} 
		order by 
		order_book_time asc
	</select>

	<select id="getOrder" parameterType="int" resultMap="OrderResultMap">
		select * 
		from ORDERLIST 
		where 
		order_id=#{order_id} 
	</select>

	<select id="getOrdersByMaster" resultMap="OrderResultMap">
		select * from ORDERLIST 
		where 
		order_master_id=#{order_master_id} 
	</select>

	<select id="getOrdersByMId" resultMap="OrderResultMap">
		select * from ORDERLIST 
		where 
		order_master_id=#{order_master_id} and 
		order_status=#{order_status} 
	</select>

	<select id="getOrders" resultMap="OrderResultMap">
		select * from ORDERLIST where  
		order_master_id=#{order_master_id} 
		<if test="order_status != null and order_status != ''">

			and order_status = #{order_status} 
		</if>
		<if test="order_type_code != null and order_type_code != ''">

			and order_type_code = #{order_type_code} 
		</if>
		 order by order_book_time asc, order_create_time asc
		
	</select>

	<update id="updateOrder" parameterType="com.bbcall.mybatis.table.Orderlist">
		update ORDERLIST set 
		order_book_time=#{order_book_time},
		order_book_location=#{order_book_location},
		order_book_location_code=#{order_book_location_code},
		order_contact_mobile=#{order_contact_mobile},
		order_contact_name=#{order_contact_name},
		order_pic_url=#{order_pic_url},
		order_description=#{order_description},
		order_urgent=#{order_urgent},
		order_urgent_bonus=#{order_urgent_bonus},
		order_user_id=#{order_user_id},
		order_type_code=#{order_type_code},
		order_type=#{order_type},
		order_refer_price=#{order_refer_price},
		order_status=#{order_status},
		order_remark=#{order_remark},
		order_master_name=#{order_master_name} 
		where 
		order_id=#{order_id}
	</update>
	<update id="updateOrderAsMasterAccount">
		update ORDERLIST set 
		order_master_id=#{order_master_id,jdbcType=INTEGER},
		order_master_name=#{order_master_name,jdbcType=VARCHAR},
		order_price=#{order_price,jdbcType=DECIMAL},
		order_status="2" 
		where 
		order_id=#{order_id,jdbcType=INTEGER}
	</update>

	<update id="completeOrder">
		update ORDERLIST set 
		order_score=#{order_score,jdbcType=DECIMAL},
		order_evaluation=#{order_evaluation,jdbcType=LONGVARCHAR},
		order_end_time=#{order_end_time},
		order_status="3" 
		where 
		order_id=#{order_id,jdbcType=INTEGER}
	</update>

	<update id="change">
		update ORDERLIST set 
		order_status=#{order_status,jdbcType=INTEGER},
		order_remark=#{order_remark,jdbcType=LONGVARCHAR} 
		where 
		order_id=#{order_id,jdbcType=INTEGER}
	</update>

	<delete id="deleteOrder" parameterType="int">
		delete from ORDERLIST  
		where 
		order_id=#{order_id} 
	</delete>

</mapper>  