<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbcall.mybatis.dao.PreorderMapper">
	<resultMap type="com.bbcall.mybatis.table.Preorder" id="PreorderResultMap">
		<id column="preorder_id" property="preorder_id" jdbcType="INTEGER" />
		<result column="preorder_master_account" property="preorder_master_account"
			jdbcType="VARCHAR" />
		<result column="preorder_create_time" property="preorder_create_time"
			jdbcType="TIMESTAMP" />
		<result column="preorder_price" property="preorder_price"
			jdbcType="DECIMAL" />
		<result column="preorder_order_id" property="preorder_order_id"
			jdbcType="INTEGER" />
		<result column="preorder_master_id" property="preorder_master_id"
			jdbcType="INTEGER" />
		<result column="preorder_master_name" property="preorder_master_name"
			jdbcType="VARCHAR" />
		<result column="preorder_master_skill" property="preorder_master_skill"
			jdbcType="LONGVARCHAR" />
		<result column="preorder_master_pic" property="preorder_master_pic"
			jdbcType="LONGVARCHAR" />
		<result column="preorder_master_grade" property="preorder_master_grade"
			jdbcType="DECIMAL" />
	</resultMap>
	<select id="getPreordersByAccount" parameterType="String"
		resultMap="PreorderResultMap">
		select *
		from PREORDER where
		preorder_master_id=#{preorder_master_id} order by preorder_create_time desc
	</select>

	<select id="getPreodersByParm" 
		resultMap="PreorderResultMap">
		select *
		from PREORDER where
		preorder_order_id=#{preorder_order_id} 
		<if	test="sortparm == 'preorder_price'.toString()">
			order by preorder_price asc,preorder_master_grade desc
		</if>
		<if	test="sortparm == 'preorder_master_grade'.toString()">
			order by preorder_master_grade desc,preorder_price asc
		</if>
		
	</select>
	<select id="getPreorderById" parameterType="int" resultMap="PreorderResultMap">
		select *
		from PREORDER where
		preorder_id=#{preorder_id}
	</select>
	<select id="getPreoder" resultMap="PreorderResultMap">
		select *
		from PREORDER where
		preorder_order_id=#{preorder_order_id,jdbcType=INTEGER} and
		preorder_master_id=#{preorder_master_id,jdbcType=INTEGER}
	</select>
	<insert id="addPreorder" parameterType="com.bbcall.mybatis.table.Preorder"
		useGeneratedKeys="true" keyProperty="preorder_id">
		insert into PREORDER   
		(preorder_master_account,
		preorder_create_time,
		preorder_price,
		preorder_order_id,
		preorder_master_id,
		preorder_master_name,
		preorder_master_skill,
		preorder_master_grade,
		preorder_master_pic)
		values 
		(#{preorder_master_account},
		#{preorder_create_time},
		#{preorder_price},
		#{preorder_order_id},
		#{preorder_master_id},
		#{preorder_master_name},
		#{preorder_master_skill},
		#{preorder_master_grade},
		#{preorder_master_pic})
	</insert>
	<delete id="deletePreorder" parameterType="int">
		delete from
		PREORDER
		where
		preorder_id=#{preorder_id}
	</delete>
	<delete id="deletePreorderByOrderId" parameterType="int">
		delete from
		PREORDER
		where
		preorder_order_id=#{preorder_order_id}
	</delete>
</mapper>  