<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbcall.mybatis.dao.ReferdocMapper">

	<resultMap id="ReferdocResultMap" type="com.bbcall.mybatis.table.Referdoc">
		<id column="referdoc_id" property="referdoc_id" jdbcType="INTEGER" />
		<result column="referdoc_type" property="referdoc_type"
			jdbcType="VARCHAR" />
		<result column="referdoc_parentno" property="referdoc_parentno" jdbcType="INTEGER" />
		<result column="referdoc_level" property="referdoc_level" jdbcType="INTEGER" />
		<result column="referdoc_price" property="referdoc_price" jdbcType="DECIMAL" />
	</resultMap>

	<insert id="addReferdoc" parameterType="com.bbcall.mybatis.table.Referdoc"
		useGeneratedKeys="true" keyProperty="referdoc_id">
		insert into REFERDOC
		(referdoc_type,
		referdoc_parentno,
		referdoc_level,
		referdoc_price) values
		(#{referdoc_type},
		#{referdoc_parentno},
		#{referdoc_level},
		#{referdoc_price})
	</insert>
	<select id="getReferdoc" parameterType="int"
		resultType="com.bbcall.mybatis.table.Referdoc">
		select * from REFERDOC
		where
		referdoc_id=#{referdoc_id}
	</select>
	<select id="getReferdocByType"
		resultType="com.bbcall.mybatis.table.Referdoc">
		select * from REFERDOC
		where
		referdoc_type=#{referdoc_type,jdbcType=VARCHAR} and referdoc_parentno=#{referdoc_parentno,jdbcType=INTEGER}
	</select>
	<select id="getReferdoclistByParent" parameterType="int"
		resultType="com.bbcall.mybatis.table.Referdoc">
		select * from REFERDOC
		where
		referdoc_parentno=#{referdoc_parentno}
	</select>
	<select id="getParentReferdoc" parameterType="int"
		resultType="com.bbcall.mybatis.table.Referdoc">
		select * from REFERDOC
		where
		referdoc_parentno = 0 and referdoc_level = 1
	</select>
	<select id="getReferdoclist" resultMap="ReferdocResultMap">
		select * from REFERDOC order by referdoc_id
	</select>
	<update id="updateReferdoc" parameterType="com.bbcall.mybatis.table.Referdoc">
		update REFERDOC set
		referdoc_type=#{referdoc_type},
		referdoc_parentno=#{referdoc_parentno},
		referdoc_level=#{referdoc_level},
		referdoc_price=#{referdoc_price}
		where
		referdoc_id=#{referdoc_id}
	</update>
	<delete id="deleteReferdoc" parameterType="int">
		delete from REFERDOC
		where
		referdoc_id=#{referdoc_id}
	</delete>

</mapper>  