<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	这里namespace必须是UserMapper接口的全类名路径，
	不然运行的时候要报错 "is not known to the MapperRegistry" 
-->

<mapper namespace="com.bbcall.mybatis.dao.UserSkillMapper">

	<resultMap id="UserSkillResultMap" type="com.bbcall.mybatis.table.UserSkill" >
    	<id column="userskill_id" property="userskill_id" jdbcType="INTEGER" />
    	<result column="user_id" property="user_id" jdbcType="INTEGER" />
    	<result column="user_account" property="user_account" jdbcType="VARCHAR" />
    	<result column="user_skill" property="user_skill" jdbcType="INTEGER" />
    	<result column="user_skill_name" property="user_skill_name" jdbcType="VARCHAR" />
    	<result column="user_skill_url" property="user_skill_url" jdbcType="VARCHAR" />
    	<result column="user_skill_status" property="user_skill_status" jdbcType="INTEGER" />
    	<result column="user_skill_create_time" property="user_skill_create_time" jdbcType="TIMESTAMP" />
	</resultMap>

	<insert id="addUserSkill" parameterType="UserSkill"
		useGeneratedKeys="true" keyProperty="userskill_id">
		insert into USERSKILL(user_id,
		user_skill, user_skill_url)
		values(#{user_id}, #{user_skill}, #{user_skill_url})
	</insert>

	<select id="getUserSkillByUserId" parameterType="int"
		resultMap="UserSkillResultMap">
		SELECT
		userskill_id,
		US.user_id AS user_id,
		U.user_account AS user_account,
		US.user_skill AS user_skill,
		RD.referdoc_type AS user_skill_name,
		user_skill_url,
		user_skill_status,
		user_skill_create_time
		FROM
		USERSKILL US
		LEFT JOIN USER U ON US.user_id = U.user_id
		LEFT JOIN REFERDOC RD ON US.user_skill = RD.referdoc_id
		WHERE
		US.user_id = #{user_id}
	</select>
	
	<select id="getUserSkillBySkillId" parameterType="int"
		resultMap="UserSkillResultMap">
		SELECT
		userskill_id,
		US.user_id AS user_id,
		U.user_account AS user_account,
		US.user_skill AS user_skill,
		RD.referdoc_type AS user_skill_name,
		user_skill_url,
		user_skill_status,
		user_skill_create_time
		FROM
		USERSKILL US
		LEFT JOIN USER U ON US.user_id = U.user_id
		LEFT JOIN REFERDOC RD ON US.user_skill = RD.referdoc_id
		WHERE
		userskill_id = #{userskill_id}
	</select>
	
	<select id="getAll" resultMap="UserSkillResultMap">
		SELECT
		userskill_id,
		US.user_id AS user_id,
		U.user_account AS user_account,
		US.user_skill AS user_skill,
		RD.referdoc_type AS user_skill_name,
		user_skill_url,
		user_skill_status,
		user_skill_create_time
		FROM
		USERSKILL US
		LEFT JOIN USER U ON US.user_id = U.user_id
		LEFT JOIN REFERDOC RD ON US.user_skill = RD.referdoc_id
		ORDER BY
		IF (user_skill_status = 0, 0, 1), user_skill_create_time DESC
	</select>
	
	<select id="getUserSkillByUserIdAndSkill" resultMap="UserSkillResultMap">
		SELECT
		userskill_id,
		US.user_id AS user_id,
		U.user_account AS user_account,
		US.user_skill AS user_skill,
		RD.referdoc_type AS user_skill_name,
		user_skill_url,
		user_skill_status,
		user_skill_create_time
		FROM
		USERSKILL US
		LEFT JOIN USER U ON US.user_id = U.user_id
		LEFT JOIN REFERDOC RD ON US.user_skill = RD.referdoc_id
		where
		US.user_id=#{user_id} AND US.user_skill=#{user_skill}
	</select>
	
	<delete id="deleteUserSkillByUserId" parameterType="int">
		delete from USERSKILL where user_id=#{user_id}
	</delete>
	
	<delete id="deleteUserSkillBySkillId" parameterType="int">
		delete from USERSKILL where userskill_id=#{userskill_id}
	</delete>

	<update id="updateUserSkillById" parameterType="UserSkill">
		update USERSKILL set
		user_id=#{user_id}, user_skill_url=#{user_skill_url},
		user_skill_status=#{user_skill_status}
		where
		userskill_id=#{userskill_id}
	</update>


</mapper>    