body{
    font-size: 13px;
    MARGIN: 0px
}
BODY {
	FONT-SIZE: 13px; LINE-HEIGHT: 150%; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
TABLE {
	FONT-SIZE: 14px; LINE-HEIGHT: 150%; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
INPUT {
	FONT-SIZE: 13px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
SELECT {
	FONT-SIZE: 15px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
TEXTAREA {
	FONT-SIZE: 13px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
.div_content{
	margin: 0px 10px;
}
.div_search{
    font-size: 13px;
    margin: 10px 5px;
    padding-left: 10px;
    line-height: 30px;
    height:30px;
    background-color: #E8F2FC;
    border: solid #1c94c4 1px;
    overflow: hidden
}
.div_merge{
    font-size: 13px;
    margin: 10px 5px;
    padding-left: 10px;
    line-height: 30px;
    height:30px;
    background-color: #E8F2FC;
    border: solid #1c94c4 1px;
}
.div_message{
	float:right;
    font-size: 14px;
    /* margin: 1px 1px 1px 1px; */
    padding-left: 10px;
    padding-right: 20px;
    line-height: 27px;
    height:28px;
    background-color: #FFFFAA;
    border: solid #FFD306 1px;
    overflow: hidden
}
.table_update{
    border-collapse:collapse;
    border: 1px solid #E3E6EB;
    margin-bottom: 50px;
}
.table_update td{
    line-height: 25px;
    padding-left: 10px;
    text-align: left;
}
.table_list{
    border-collapse:collapse;
    border: 1px solid #E3E6EB;
}
.table_list td{
    line-height: 25px;
/*     padding-left: 10px; */
    text-align: center;
}
.div_head{
    font-size: 13px;
    margin: 10px 5px;
    padding-left: 10px;
    line-height: 25px;
    height:25px;
    background-color: #E8F2FC;
    border-bottom: solid #1c94c4 1px
}

.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
/*   white-space: nowrap; */
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btn-default {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
  background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe0e0e0',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/***************分页******************/
*{margin:0px; padding:0px;}
li{list-style:none;}
a, a:visited{text-decoration:none;}
.wrap{ width:auto; max-width:320px; margin:0 auto;}
.fenye{ float:left; margin-top:10px; width:100%}
.fenye ul{ float:left; margin-left:32px; }
.fenye ul li{ float:left; margin-left:5px;padding: 4px 6px; border:1px solid #ccc;  font-weight:bold; cursor:pointer; color:#999;}
.fenye ul li a{ color:#999;}
.fenye ul li.xifenye{ width:38px; text-align:center; float:left; position:relative;cursor: pointer;}
.fenye ul li .xab{ float:left; position:absolute; width:39px; border:1px solid #ccc; height:123px; overflow-y: auto;overflow-x: hidden;top:-125px; background-color: #fff; display:inline;left:-1px; width:50px; margin:0px; padding:0px;}
.fenye ul li .xab ul{ margin-left:0; padding-bottom:0;}
.fenye ul li .xab ul li{ border:0; padding:4px 0px; color:#999; width:34px; margin-left:0px; text-align:center;}